.user-container {
  height: 100%;
  //background: #FFFFFF;
  //box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.user-table {
  height: 100%;
}

.user-operation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.user-search {
  display: flex;
  flex-direction: row;
}

.user-input {
  width: 250px;
  margin-right: 10px;
}

