<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.dao.admin.RoleMapper">

    <!--  角色台账  -->
    <select id="getRoleList" resultType="com.backstage.entity.admin.Role">
        select * from role
        <where>
            <if test="role.getRoleName!=null and role.getRoleName!=''">
                and roleName LIKE concat(concat('%',#{role.roleName}),'%')
            </if>
            <if test="role.getRoleDescribe!=null and role.getRoleDescribe!=''">
                and roleDescribe LIKE concat(concat('%',#{role.roleDescribe}),'%')
            </if>
            <if test="role.getCreatePerson!=null and role.getCreatePerson!=''">
                and createPerson LIKE concat(concat('%',#{role.createPerson}),'%')
            </if>
            <if test="role.getUpdatePerson!=null and role.getUpdatePerson!=''">
                and updatePerson LIKE concat(concat('%',#{role.updatePerson}),'%')
            </if>
        </where>
    </select>


    <!--  角色详情  -->
    <select id="detailsRole" parameterType="java.lang.Integer" resultType="com.backstage.entity.admin.Role">
        select * from role where roleId = #{roleId}
    </select>


    <!--  角色创建  -->
    <insert id="createRole" parameterType="com.backstage.entity.admin.Role">
        insert into role (
        roleId,
        roleName,
        roleDescribe,
        createPerson,
        createDate
        ) values (
        #{role.roleId},
        #{role.roleName},
        #{role.roleDescribe},
        #{role.createPerson},
        now()
        )
    </insert>


    <!--  角色更新  -->
    <update id="updateRole" parameterType="com.backstage.entity.admin.Role">
        update role
        <set>
            <if test="role.getRoleName!=null and role.getRoleName!=''">
                roleName=#{role.roleName},
            </if>
            <if test="role.getRoleDescribe!=null and role.getRoleDescribe!=''">
                roleDescribe=#{role.roleDescribe},
            </if>
            <if test="role.getCreatePerson!=null and role.getCreatePerson!=''">
                createPerson=#{role.createPerson},
            </if>
            updateDate= now()
        </set>
        where roleId=#{role.roleId}
    </update>


    <!--  角色删除  -->
    <delete id="deleteRole" parameterType="java.lang.Integer">
        delete  from  role where roleId=#{roleId}
    </delete>


    <!--  删除角色关联用户  -->
    <delete id="deleteRoleByUser" parameterType="java.lang.Integer">
      delete  from  user_role where roleId=#{roleId}
    </delete>


    <!--  角色所有权限删除  -->
    <delete id="deletePermissionByRoleId" parameterType="java.lang.Integer">
        delete  from permission_role where roleId = #{roleId}
    </delete>


    <!--  角色_权限已选数据  -->
    <select id="getPermissionChangeList" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select permissionId from permission_role where roleId= #{roleId}
    </select>


    <!--  角色_权限添加  -->
    <insert id="addPermissionByRoleId" parameterType="java.lang.Integer">
        insert into permission_role (roleId, permissionId) values (#{roleId},#{permissionId})
    </insert>


    <!--  根据角色ID获取权限信息  -->
    <select id="getPermissionListByRoleId" parameterType="java.lang.Integer"
            resultType="com.backstage.entity.admin.PermissionRole">
        select * from permission_role pr
        left join permission p on p.permissionId=pr.permissionId
        left join role r on r.roleId=pr.roleId
        where pr.roleId=#{roleId}
    </select>


    <!--  获取角色创建ID  -->
    <select id="getRoleId" resultType="com.backstage.entity.admin.Role">
        select * from role order by roleId desc
    </select>


</mapper>
