<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.dao.admin.UserMapper">

    <!--  用户台账  -->
    <select id="userList" parameterType="com.backstage.entity.admin.User" resultType="com.backstage.entity.admin.User">
        select * from user
        <where>
            <if test="user.getUserAccount()!=null and user.getUserAccount()!=''">
                and userAccount LIKE concat(concat('%',#{user.userAccount}),'%')
            </if>
            <if test="user.getUserName()!=null and user.getUserName()!=''">
                and userName LIKE concat(concat('%',#{user.userName}),'%')
            </if>
            <if test="user.getUserSex()!=null and user.getUserName()!=''">
                and userSex LIKE concat(concat('%',#{user.userSex}),'%')
            </if>
            <if test="user.getUserPhone()!=null and user.getUserPhone()!=''">
                and userPhone LIKE concat(concat('%',#{user.userPhone}),'%')
            </if>
            <if test="user.getUserEmail()!=null and user.getUserEmail()!=''">
                and userEmail LIKE concat(concat('%',#{user.userEmail}),'%')
            </if>
        </where>
    </select>


    <!--  用户详情  -->
    <select id="detailsUser" parameterType="java.lang.Integer" resultType="com.backstage.entity.admin.User">
        select * from user
        where userId = #{userId}
    </select>


    <!--  用户所选角色列表  -->
    <select id="getRolesByUserId" parameterType="java.lang.Integer" resultType="com.alibaba.fastjson.JSONObject">
        select roleId from user_role
        where userId = #{userId}
    </select>


    <!--  用户创建  -->
    <insert id="createUser" parameterType="com.backstage.entity.admin.User">
        insert into user (
        userId,
        userAccount,
        userName,
        userSex,
        userPhone,
        telephone,
        userEmail,
        userPassword,
        salt,
        userStatus,
        createPerson,
        createDate
        ) values (
        #{user.userId},
        #{user.userAccount},
        #{user.userName},
        #{user.userSex},
        #{user.userPhone},
        #{user.telephone},
        #{user.userEmail},
        #{user.userPassword},
        #{user.salt},
        #{user.userStatus},
        #{user.createPerson},
        now()
        )
    </insert>


    <!--  用户更新  -->
    <update id="updateUser" parameterType="com.backstage.entity.admin.User">
        update user
        <set>
            <if test="user.getUserAccount()!=null and user.getUserAccount()!=''">
                userAccount=#{user.userAccount},
            </if>
            <if test="user.getUserName()!=null and user.getUserName()!=''">
                userName=#{user.userName},
            </if>
            <if test="user.getUserSex()!=null and user.getUserName()!=''">
                userSex=#{user.userSex},
            </if>
            <if test="user.getUserPhone()!=null and user.getUserPhone()!=''">
                userPhone=#{user.userPhone},
            </if>
            <if test="user.getTelephone()!=null and user.getTelephone()!=''">
                telephone=#{user.telephone},
            </if>
            <if test="user.getUserEmail()!=null and user.getUserEmail()!=''">
                userEmail=#{user.userEmail},
            </if>
            <if test="user.getUserPassword()!=null and user.getUserPassword()!=''">
                userPassword=#{user.userPassword},
            </if>
            <if test="user.getSalt()!=null and user.getSalt()!=''">
                salt=#{user.salt},
            </if>
            <if test="user.getUserStatus()!=null and user.getUserStatus()!=''">
                userStatus=#{user.userStatus},
            </if>
            updateDate=now()
        </set>
        where userId=#{user.userId}
    </update>


    <!--  添加用户所选角色  -->
    <insert id="addRoleByUserId" parameterType="java.lang.Integer">
        insert into user_role (
        roleId,
        userId
        ) values (
        #{roleId},
        #{userId}
        )
    </insert>


    <!--  用户删除  -->
    <delete id="deleteUserById" parameterType="java.lang.Integer">
        delete  from  user where userId=#{userId}
    </delete>


    <!--  用户批量删除 -->
    <delete id="deleteUserList" parameterType="com.alibaba.fastjson.JSONObject">
        delete from user
        where userId in
        <foreach collection="list" item="item" index="no" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!--  删除用户所选角色  -->
    <delete id="deleteRoleByUserId" parameterType="java.lang.Integer">
        delete from user_role where userId = #{userId}
    </delete>


    <!--  根据用户名获取用户信息  -->
    <select id="selectAllByName" parameterType="java.lang.String" resultType="com.backstage.entity.admin.User">
        select * from user where userName=#{userName}
    </select>


    <!--  根据用户ID获取角色信息  -->
    <select id="getRoleListByUserId" parameterType="java.lang.Integer"
            resultType="com.backstage.entity.admin.UserRole">
        select * from user_role ur
        left join user u on u.userId=ur.userId
        left join role r on r.roleId=ur.roleId
        where ur.userId=#{userId}
    </select>

</mapper>
