<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backstage.dao.admin.UserMapper">

    <!--  用户台账  -->
    <select id="getUserList" resultType="com.backstage.entity.admin.User">
        select * from  user
    </select>

    <!--  用户创建  -->
    <insert id="createUser" parameterType="com.backstage.entity.admin.User">
    insert into user (
    userId,
    userAccount,
    userName,
    userSex,
    userPhone,
    userEmail,
    userPassword,
    salt,
    userStatus,
    createPerson,
    createDate
    ) values (
    #{user.userId},
    #{user.userAccount},
    #{user.userName},
    #{user.userSex},
    #{user.userPhone},
    #{user.userEmail},
    #{user.userPassword},
    #{user.salt},
    #{user.userStatus},
    #{user.createPerson},
    now()
    )
    </insert>

    <!--  获取用户创建ID  -->
    <select id="getUserId" resultType="com.backstage.entity.admin.User">
        select * from user order by userId desc
    </select>

    <!--  用户更新  -->
    <update id="updateUser" parameterType="com.backstage.entity.admin.User">
        update user
        <set>
            <if test="user.getUserAccount()!=null and user.getUserAccount()!=''">
                userAccount=#{user.userAccount},
            </if>
            <if test="user.getUserName()!=null and user.getUserName()!=''">
                userName=#{user.userName},
            </if>
            <if test="user.getUserSex()!=null and user.getUserName()!=''">
                userSex=#{user.userSex},
            </if>
            <if test="user.getUserPhone()!=null and user.getUserPhone()!=''">
                userPhone=#{user.userPhone},
            </if>
            <if test="user.getUserEmail()!=null and user.getUserEmail()!=''">
                userEmail=#{user.userEmail},
            </if>
            <if test="user.getUserPassword()!=null and user.getUserPassword()!=''">
                userPassword=#{user.userPassword},
            </if>
            <if test="user.getSalt()!=null and user.getSalt()!=''">
                salt=#{user.salt},
            </if>
            <if test="user.getUserStatus()!=null and user.getUserStatus()!=''">
                userStatus=#{user.userStatus},
            </if>
            updateDate=now()
        </set>
        where userId=#{user.userId}
    </update>

    <!--  用户删除  -->
    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete  from  user where userId=#{userId}
    </delete>

    <!--  用户详情  -->
    <select id="detailsUser" parameterType="java.lang.Integer" resultType="com.backstage.entity.admin.User">
        select * from user where userId = #{userId}
    </select>


    <select id="usersLogin" parameterType="java.lang.String" resultType="com.backstage.entity.admin.User">
        select * from user where account=#{account}
    </select>


    <select id="selectAllByName" parameterType="java.lang.String" resultType="com.backstage.entity.admin.User">
        select * from user where userName=#{userName}
    </select>

    <select id="getRoleListByUserId" parameterType="java.lang.Integer"
            resultType="com.backstage.entity.admin.UserRole">
        select * from user_role ur
        left join user u on u.userId=ur.userId
        left join role r on r.roleId=ur.roleId
        where ur.userId=#{userId}
    </select>

    <select id="getPermissionListByRoleId" parameterType="java.lang.Integer"
            resultType="com.backstage.entity.admin.PermissionRole">
        select * from permission_role pr
        left join permission p on p.permissionId=pr.permissionId
        left join role r on r.roleId=pr.roleId
        where pr.roleId=#{roleId}
    </select>


    <delete id="deleteRoleByUserId" parameterType="java.lang.Integer">
        delete from user_role where userId = #{userId}
    </delete>

    <!--  人员维护添加  -->
    <insert id="addRoleByUserId" parameterType="java.lang.Integer">
        insert into user_role (
        roleId,
        userId
        ) values (
        #{roleId},
        #{userId}
        )
    </insert>


    <!--  获取用户角色列表  -->
    <select id="getRolesByUserId" parameterType="java.lang.Integer" resultType="com.alibaba.fastjson.JSONObject">
        select roleId from user_role where userId = #{userId}
    </select>
</mapper>
