.article-container {
  height: 100%;
  /*padding: 20px;*/
  background: #FFFFFF;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.article-operation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.article-search {
  display: flex;
  flex-direction: row;
}

.article-input {
  width: 250px;
  margin-right: 10px;
}

