.permission-container {
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.permission-operation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.permission-search {
  display: flex;
  flex-direction: row;
}

.permission-input {
  width: 150px;
  margin-right: 10px;
}
